<!DOCTYPE html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Assistente Financeiro</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/expenses/expenses">Despesas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/users">Conta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>