body{
    min-width: 1204px;
}
.wrap{
    flex-wrap: wrap;
}
.btn-primary{
    margin-top: 5px;
}
.container-login{
    margin-top: 60px;
    width: 300px;
}
.display-none{
    display: none;
}
.card{
    display: block;
    margin-top: 30px;
}
table{
    border: none;
    text-align: center;
}
.first-col{
    margin-right: 30px;
    text-align: left;
}
.details{
    margin-left: -100px;
    margin-top: 100px;
}
#underline-footer{
    margin-bottom: -50px;
    height: 50px;
    background-color: #0D6EFD;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    margin: 5px;
}
.sticky{
    position: fixed;
    top: -15px;
}

