<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../static/css2/main.css" th:href="@{/css2/main.css}" rel="stylesheet" />
  <title>Assistente Financeiro</title>
</head>
<body>
<h1>Cadastrar Produtos</h1>
<form action="#" th:action="@{/expenses/edit}" th:object="${expenses}" method="post">
  <p>Id: <input type="text" th:field="*{id}" readonly /></p>
  <p>Item: <input type="text" th:field="*{item}" /></p>
  <p>Credor: <input type="text" th:field="*{receiver}" /></p>
  <p>Numero de Parcelas: <input type="text" th:field="*{number_installments}" /></p>
  <p>Valor das Parcelas: <input type="text" th:field="*{value_installments}" /></p>
  <p>Data de vencimento: <input type="text" th:field="*{due_date}" /></p>
  <p>Data da compra: <input type="text" th:field="*{purchase_date}" /></p>
  <input type="submit" value="Alterar" />
  <input type="reset" value="Reset" />
</form>
</div>
<script type="text/javascript" th:src="@{../../js/bootstrap.js}"></script>
</body>
</html>