<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Assistente Financeiro</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="row">
        <div class="container col-7">
            <div class="card">
                <h1>Despesas</h1>
                <table class="table table-striped">
                    <tr>
                        <th class="display-none" >ID</th>
                        <th class="first-col" >Item</th>
                        <th>Credor</th>
                        <th>Nº Parcelas</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                        <th>Data da compra</th>
                        <th></th>
                        <th>
                            <a href="/expenses/new">
                                <span class="material-symbols-outlined">add_circle</span>
                            </a>
                        </th>
                    </tr>
                    <tr th:each="u : ${expenses}">
                        <td class="display-none" th:text="${u.id}"></td>
                        <td class="first-col" th:text="${u.item}"></td>
                        <td th:text="${u.receiver}"></td>
                        <td th:text="${u.number_installments}"></td>
                        <td th:text="${u.value_installments}"></td>
                        <td th:text="${u.due_date}"></td>
                        <td th:text="${u.purchase_date}"></td>
                        <td>
                            <a th:href="@{/expenses/edit/{id} (id=${u.id})}">
                                <span class="material-symbols-outlined">edit_square</span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/expenses/delete/{id} (id=${u.id})}">
                                <span class="material-symbols-outlined">delete</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>        
        </div> 
        <div class="col-3 card details sticky">
            <div  id="details">
                <h2>Visão geral</h2>
                <div class="income">Renda Mensal:</div>
                <div class="total-expenses">Total de Despesas:</div>
                <div class="percentage">Percentual Comprometido:</div>
            </div>
        </div>   
    </div>

</div>

<div th:replace="fragments/footer :: footer">...</div>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>

</html>