<main>
    <div class="container card">
      <h2>Nova Despesa</h2>
      <form class="row g-3" action="#" th:action="@{/expenses/edit}" th:object="${expenses}" method="post">
        <div class="col-md-4">
          <label for="item" class="form-label">Item</label>
          <input type="text" class="form-control" id="item" th:field="*{item}">
        </div>
        <div class="col-md-4"><!DOCTYPE html>
          <html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
          <head>
              <meta charset="UTF-8">
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
              <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
              <title>Assistente Financeiro</title>
          </head>
          <body>
          <div th:replace="fragments/header :: header">...</div>
          <div class="container">
              <div class="row">
                  <div class="container col-7">
                      <div class="card">
                          <h1>Despesas</h1>
                          <table class="table table-striped">
                              <tr>
                                  <th class="display-none" >ID</th>
                                  <th class="first-col" >Nome</th>
                                  <th>E-mail</th>
                                  <th>Senha</th>
                                  <th>Renda</th>
                                  <th class="display-none">Papel</th>
                                  <th></th>
                                  <th>
                                      <a href="/users/new">
                                          <span class="material-symbols-outlined">add_circle</span>
                                      </a>
                                  </th>
                              </tr>
                              <tr th:each="u : ${users}">
                                  <td class="display-none" th:text="${u.id}"></td>
                                  <td class="first-col" th:text="${u.name}"></td>
                                  <td th:text="${u.email}"></td>
                                  <td th:text="${u.password}"></td>
                                  <td th:text="${u.income}"></td>
                                  <td class="display-none" th:text="${u.role}"></td>
                                  <td>
                                      <a th:href="@{/expenses/edit/{id} (id=${u.id})}">
                                          <span class="material-symbols-outlined">edit_square</span>
                                      </a>
                                  </td>
                                  <td>
                                      <a th:href="@{/expenses/delete/{id} (id=${u.id})}">
                                          <span class="material-symbols-outlined">delete</span>
                                      </a>
                                  </td>
                              </tr>
                          </table>
                      </div>        
                  </div>   
              </div>
          
          </div>
          
          <div th:replace="fragments/footer :: footer">...</div>
          <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
          </body>
          
          </html>
          <label for="receiver" class="form-label">Credor</label>
          <input type="text" class="form-control" id="receiver" th:field="*{receiver}">
        </div>
        <div class="col-md-4">
          <label for="value_installments" class="form-label">Valor</label>
          <input type="text" class="form-control" id="value_installments" th:field="*{value_installments}">
        </div>
        <div class="col-md-4">
          <label for="due_date" class="form-label">Vencimento</label>
          <input type="text" class="form-control" id="due_date" th:field="*{due_date}">
        </div>
        <div class="col-md-4">
          <label for="purchase_date" class="form-label">Data da compra</label>
          <input type="text" class="form-control" id="purchase_date" th:field="*{purchase_date}">
        </div>
        <div class="col-md-4">
          <label for="number_installments" class="form-label">N° Parcelas</label>
          <input type="text" class="form-control" id="number_installments" th:field="*{number_installments}">
        </div>
        <div class="buttons">
          <button type="reset" class="btn btn-light">Reset</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <a href="">
            <button type="button" class="btn btn-light">Cancelar</button>
          </a>
        </div>
        <div class="id">
          <input type="text" th:field="*{id}">
        </div>
  
            
  
          </form>
    </div>
    
  </main>