<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<!--
xmlns="http://www.w3.org/1999/xhtml"

xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistente Financeiro</title>
</head>
<body>
<main>
  <div>
    <h1>Assistente Financeiro</h1>
  </div>
  <div class="container2">
    <h2>Menu</h2>
    <form action="">
      <div>
        <a href="/Af/nExpense">
          <input type="button" value="Nova despesa" id="novaDespesa">
        </a>
      </div>
      <div>
        <input type="button" value="Ver Despesas" id="verDespesas">
      </div>
      <div>
        <input type="button" value="Editar Despesa" id="editarDespesa">
      </div>
    </form>
  </div>
</main>
</body>
</html>