<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Assistente Financeiro</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main>
    <div class="container container-login" >
        <h2>Login</h2>
        <div th:if="${param.error}">
            Usuário ou senha inválidos!!!
        </div>
        <div th:if="${param.logout}">
            Você fez logout.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">E-mail address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Entrar">
            </div>
        </form>
            <div>
                <a th:href="@{/new}">
                    <button type="button" class="btn btn-primary">Novo</button>
                </a>
            </div>

    </div>
</main>
<div class="footer" th:replace="fragments/footer :: footer">...</div>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>