<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
  <title>Assistente Financeiro</title>
</head>

<body>
<main>
  <div>
    <h1>Assistente Financeiro</h1>
  </div>
  <div class="container4">
    <h2>Cadastrar Usuário</h2>
    <form action="#" th:action="@{/users/new}" th:object="${users}" method="post">
      <p>name: <input type="text" th:field="*{name}" /></p>
      <p>email: <input type="text" th:field="*{email}" /></p>
      <p>password: <input type="text" th:field="*{password}" /></p>
      <p>income: <input type="text" th:field="*{income}" /></p>
      <p><input type="submit" value="Cadastrar" /> <input type="reset" value="Reset" /></p>
    </form>
  </div>
</main>

</body>
</html>