<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistente Financeiro</title>
</head>

<body>
<main>
  <div>
    <h1>Assistente Financeiro</h1>
  </div>
  <div class="container4">
    <h2>Cadastrar Usuário</h2>
    <form action="">
      <div>
        <div class="input-geral">
          <h3>Usuário:</h3>
          <input type="text" name="nome" id="nome" placeholder="Nome Completo" required>
          <div class="underline2"></div>
        </div>
        <div class="input-geral">
          <h3>E-mail:</h3>
          <input type="text" name="email" id="email" placeholder="exemplo@mail.com" required>
          <div class="underline"></div>
        </div>
        <div class="input-geral">
          <h3>Renda mensal:</h3>
          <input type="text" name="renda" id="renda" placeholder="R$ 0,00" required>
          <div class="underline"></div>
        </div>
        <div class="input-geral">
          <h3>Senha:</h3>
          <input type="password" name="newPassword" id="newPassword" placeholder="Digite a Senha">
          <div class="underline"></div>
        </div>
        <div class="input-geral">
          <h3>Confirme a senha::</h3>
          <input type="password" name="confirmaNewPassword" id="confirmaNewPassword" placeholder="Digite a Senha">
          <div class="underline"></div>
        </div>
        <div>
          <input type="submit" value="Cadastrar" id="cadastrar">
        </div>
      </div>

    </form>

  </div>
</main>

</body>
</html>